# Python
backend/venv/
__pycache__/
backend/constants.py
backend/movies_cache.pkl

# Node
frontend/**/node_modules/
frontend/movie_dashboard/src/components/Demo.jsx

# General
.DS_Store
.env
goal.txt
TODO
watched.csv